<!DOCTYPE html>
<html>
  <head>
    <title>TodoAppProduction</title>
    <%= csrf_meta_tags %>

    <%
      puts "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ"
      puts "ENV['REACT_ON_RAILS_ENV'] = #{ENV['REACT_ON_RAILS_ENV']}"
      puts "ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ"
    %>
    <%= stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true) %>
    <%= javascript_include_tag("application", "data-turbolinks-track" => true) %>
    <!-- bundles yield their stylesheets and javascript here -->
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
